<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <title>Login</title>
</head>
<body>
  <%- include('partials/_header.ejs') %>
  <main style="margin: 1em;">
    <h1>Login</h1>
    <form action='/login/:email>' method="POST">
      <label for="userEmail">
        Email Address<br> 
        <input type="email" name="email" id="userEmail">
      </label>
      <br>
      <label for='userPassword'>
        Password: <br>
        <input type="password" name="password" id="userPassword">
      </label>
      <br>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </main>
  
</body>
</html>
